@model Curly_TWM.Infrastructure.DbaseContext.ApplicationUser

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Home/_Layout.cshtml";

}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<!-- SweetAlert2 -->
<link href="~/Content/plugins/sweet-alert2/sweetalert2.css" rel="stylesheet" />
<script src="~/Content/plugins/sweet-alert2/sweetalert2.js"></script>

<div class="content">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium mr-auto">
            User Details
        </h2>
    </div>
    <!-- BEGIN: Profile Info -->
    <div class="intro-y box px-5 pt-5 mt-5">
        <div class="flex flex-col lg:flex-row border-b border-slate-200/60 dark:border-darkmode-400 pb-5 -mx-5">
            <div class="flex flex-1 px-5 items-center justify-center lg:justify-start">
                <div class="w-20 h-20 sm:w-24 sm:h-24 flex-none lg:w-32 lg:h-32 image-fit relative">
                    @if (Model.Avatar != null)
                    {
                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="~/Uploads/Avatars/@Html.DisplayFor(model => model.Avatar)">


                    }
                    else
                    {
                        <img alt="Midone - HTML Admin Template" class="rounded-full" src="~/Uploads/Avatars/noimage.png">

                    }
                </div>
                <div class="ml-5">
                    <div class="w-24 sm:w-40 truncate sm:whitespace-normal font-medium text-lg">  @Html.DisplayFor(model => model.user_fullname)</div>
                    <div class="text-slate-500">  @Html.DisplayFor(model => model.UserName)</div>
                    <div class="text-slate-500">  @Html.DisplayFor(model => model.PhoneNumber)</div>
                    <div class="text-slate-500">  @Html.DisplayFor(model => model.Email)</div>
                </div>
            </div>


            <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">

                <div class="mt-5">
                    <div class="font-medium text-center lg:text-left lg:mt-3">User Roles قائمة صلاحيات المستخدم</div>
                    <br />
                    @foreach (var item in ViewBag.UserRole)
                    {
                        <a href="@Url.Action("Delete", "Account" , new {RoleName = item, UserId = Model.Id})" class="intro-y">
                            <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                                <div class="py-1 px-2 rounded-full text-xs bg-danger text-white cursor-pointer font-medium">Delete</div>

                                <div class="ml-4 ml-auto">
                                    <div class="font-medium"> @item</div>
                                    <div class="text-slate-500 text-xs mt-0.5"></div>
                                </div>
                            </div>
                        </a>


                    }
                </div>





            </div>


            <div class="mt-6 lg:mt-0 flex-1 flex items-center justify-center px-5 border-t lg:border-0 border-slate-200/60 dark:border-darkmode-400 pt-5 lg:pt-0">

                <div class="mt-5">
                    <div class="font-medium text-center lg:text-left lg:mt-3">Roles List قائمة الصلاحيات للاضافة</div>
                    <br />
                    @using (Html.BeginForm("Details", "Account", FormMethod.Post, new { @class = "", role = "form" }))
                    {
                        <input type="hidden" id="UserId" name="UserId" value="@Model.Id" />

                        @Html.DropDownList("RoleId", (IEnumerable<SelectListItem>)ViewBag.RoleId, " ... اختر الصلاحية ...", new { @class = "tom-select w-full tomselected", @tabindex = "-1", @aria_hidden = "true" })
                        <br />
                        <button type="submit" name="submit" value="اضافة الصلاحية" class="btn btn-primary w-32 mr-2 mb-2">
                            <i class="icofont-save w-4 h-4 mr-2"></i>  حفظ
                        </button>

                    }
                </div>





            </div>



        </div>
    </div>
    <!-- END: Profile Info -->
</div>


<script>
      //Success Message
    if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
        //alert('hello world');
    }
    else {
               var title = '@TempData["title"]';
               var type = '@TempData["type"]';
               var success = '@TempData["SuccessMsg"]';
            if (success != "" && success !=null) {
                swal(
                    {
                        title: title,
                        text: success,
                        type: type,
                        button: "موافق ",

                        confirmButtonClass: 'btn btn-success',
                        timer: 1500

                    }
                )

            }
            //Success Message

    }



    //*********************************
    function Delete(id, Name) {

        swal({
            title: "Are you sure?",
            text: "Once deleted, you can't recover this record!",
            icon: "warning",
            buttons: ["Cancel", "Yes, delete it !!"],

            //buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: "/HR/Delete/" + id,
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {

                            swal("Poof! Your imaginary record has been deleted!", {
                                icon: "success",
                            });
                            $("#here").load(window.location.href + " #here");

                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });

                }
            });
    }
    //*********************************
</script>









