
@{
    Layout = null;
}

<!DOCTYPE html>





<html lang="en" class="light">
<!-- BEGIN: Head -->
<head>
    <meta charset="utf-8">
    <link href="~/Content/dist/images/logo.svg" rel="shortcut icon">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Icewall admin is super flexible, powerful, clean & modern responsive tailwind admin template with unlimited possibilities.">
    <meta name="keywords" content="admin template, Icewall Admin Template, dashboard template, flat admin template, responsive admin template, web app">
    <meta name="author" content="LEFT4CODE">
    <title>ادارة الفرق</title>
    <!-- BEGIN: CSS Assets-->
    <link rel="stylesheet" href="~/Content/dist/css/app.css" />
    <!-- END: CSS Assets-->
    <link href="~/icofont.css" rel="stylesheet" />
    <link href="~/Fonts_Face.css" rel="stylesheet" />

    @*//-------------------------------------------*@
    @*@Scripts.Render("~/bundles/jquery")*@
    <script src="~/Scripts/jquery-3.4.1.js"></script>

    <script>

    var css_1 = '@Session["Style"]';
    if (css_1 == "dark") {
        $(".light").addClass("dark").removeClass("light");
    }

    </script>


</head>
<!-- END: Head -->
<body class="login">
    <div class="container sm:px-10">
        <div class="block xl:grid grid-cols-2 gap-4">
            <!-- BEGIN: Login Info -->
            <div class="hidden xl:flex flex-col min-h-screen">
                <a href="" class="-intro-x flex items-center pt-5">
                    <img alt="Midone - HTML Admin Template" class="w-6" src="~/Content/dist/images/logo.svg">
                    <span class="text-white text-lg ml-3"> <span style="font-family: 'english';">Curly_TWM</span> <span style="font-size:8pt">1.0</span> </span>
                </a>
                <div class="my-auto">
                    <img alt="Midone - HTML Admin Template" class="-intro-x w-1/2 -mt-16" src="~/Content/dist/images/illustration.svg">
                    <div class="-intro-x text-white font-medium text-4xl leading-tight mt-10" style="font-family: 'english';">
                        Welcome to TWM

                    </div>
                    <div class="-intro-x mt-5 text-lg text-white text-opacity-70 dark:text-slate-400">
                        Modern Management

                        In The Information Age .
                    </div>
                </div>
            </div>
            <!-- END: Login Info -->
            <!-- BEGIN: Login Form -->



            <div class="h-screen xl:h-auto flex py-5 xl:py-0 my-10 xl:my-0">


                <div class="my-auto mx-auto xl:ml-20 bg-white dark:bg-darkmode-600 xl:bg-transparent px-5 sm:px-8 py-8 xl:p-0 rounded-md shadow-md xl:shadow-none w-full sm:w-3/4 lg:w-2/4 xl:w-auto">
                    <h2 class="intro-x font-bold text-2xl xl:text-3xl text-center xl:text-left">
                        @ViewBag.ActionName
                    </h2>

                    <div class="intro-x mt-2 text-slate-400 xl:hidden text-center"></div>

                    <div class="col-span-12 xl:col-span-4 mt-6">
                        <div class="intro-y flex items-center h-10">
                            <h2 class="text-lg font-medium truncate mr-5">
                            </h2>
                        </div>
                        <div class="mt-5">
                            @foreach (var r in ViewBag.UserRole)
                            {

                                if (r == "Organizational_Manager")
                                {
                                    <a href="@Url.Action("Main", "Organizational_Manager")" class="intro-y">
                                        <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                                            <div class="py-1 px-2 rounded-full text-xs bg-primary text-white cursor-pointer font-medium">الدخول</div>

                                            <div class="mr-4 ml-auto">
                                                <div class="font-medium">مدير المنظمة</div>
                                                <div class="text-slate-500 text-xs mt-0.5"></div>
                                            </div>
                                        </div>
                                    </a>
                                }

                                if (r == "System_Manager")
                                {
                                    <a href="@Url.Action("Main", "SysMan")" class="intro-y">
                                        <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                                            <div class="py-1 px-2 rounded-full text-xs bg-primary text-white cursor-pointer font-medium">الدخول</div>

                                            <div class="mr-4 ml-auto">
                                                <div class="font-medium">مدير النظام</div>
                                                <div class="text-slate-500 text-xs mt-0.5"></div>
                                            </div>
                                        </div>
                                    </a>
                                }

                                if (r == "Initiative_Officer")
                                {
                                    <a href="@Url.Action("Main", "Initiative_Officer")" class="intro-y">
                                        <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                                            <div class="py-1 px-2 rounded-full text-xs bg-primary text-white cursor-pointer font-medium">الدخول</div>

                                            <div class="mr-4 ml-auto">
                                                <div class="font-medium">رئيس الفريق</div>
                                                <div class="text-slate-500 text-xs mt-0.5"></div>
                                            </div>
                                        </div>
                                    </a>
                                }

                                if (r == "Team_Member")
                                {
                                    <a href="@Url.Action("Main", "Team_Member")" class="intro-y">
                                        <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                                            <div class="py-1 px-2 rounded-full text-xs bg-primary text-white cursor-pointer font-medium">الدخول</div>

                                            <div class="mr-4 ml-auto">
                                                <div class="font-medium">عضو الفريق</div>
                                                <div class="text-slate-500 text-xs mt-0.5"></div>
                                            </div>
                                        </div>
                                    </a>
                                }


                                if (r == "Admin")
                                {
                                    <a href="@Url.Action("Index", "Home")" class="intro-y">
                                        <div class="box px-4 py-4 mb-3 flex items-center zoom-in">

                                            <div class="py-1 px-2 rounded-full text-xs bg-primary text-white cursor-pointer font-medium">الدخول</div>

                                            <div class="mr-4 ml-auto">
                                                <div class="font-medium">مسؤول الاعدادات</div>
                                                <div class="text-slate-500 text-xs mt-0.5"></div>
                                            </div>
                                        </div>
                                    </a>
                                }

                            }
                        </div>
                    </div>

                </div>
            </div>



            <!-- END: Login Form -->
        </div>
    </div>
    <!-- BEGIN: Dark Mode Switcher-->
    @*<div data-url="login-dark-login.html" class="dark-mode-switcher cursor-pointer shadow-md fixed bottom-0 right-0 box border rounded-full w-40 h-12 flex items-center justify-center z-50 mb-10 mr-10">
            <div class="mr-4 text-slate-600 dark:text-slate-200">Dark Mode</div>
            <div class="dark-mode-switcher__toggle border"></div>
        </div>*@
    <!-- END: Dark Mode Switcher-->
    <!-- BEGIN: JS Assets-->
    <script src="~/Content/dist/fetch.min.js"></script>

    <script src="~/Content/dist/js/app.js"></script>



    <script>

        $(document).ready(function () {

            var css_2 = '@Session["Style"]';
            if (css_2 == "dark") {
                $(".light").addClass("dark").removeClass("light");
            }
        });

        async function ToggleClass() {

            const response = await fetch("/Home/ToggleClass")
                .catch(error => {
                    console.log("handle error", error);
                });
            const data = await response.json();
            console.log("Style: ", data);

            if (data == "dark") {

            $(".dark").addClass("light").removeClass("dark");

            } else {

            $(".light").addClass("dark").removeClass("light");

            }

        //    return data;
        }
    </script>
    
    <!-- END: JS Assets-->
</body>
</html>


















