@model IEnumerable<Curly_TWM.Domain.Entities.emp_main>

@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Home/_Layout.cshtml";

}
<script src="~/Scripts/jquery-3.4.1.js"></script>
<link href="~/Content/plugins/sweet-alert2/sweetalert2.css" rel="stylesheet" type="text/css">
<!-- Sweet-Alert  -->
<script src="~/Content/plugins/sweet-alert2/sweetalert2.min.js"></script>
<script src="~/Content/assets/pages/sweet-alert.init.js"></script>

<div class="content" style="direction:rtl;text-align:right">

    <div class="col-span-12 mt-6">
        <div class="intro-y block sm:flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">
                قائمة الموظفين
            </h2>
            <p>@Model.Count()</p>
            <div class="flex items-center sm:mr-auto mt-3 sm:mt-0">
                <a href="@Url.Action("Create","Home")" class="btn btn-sm btn-primary mr-1 mb-2"><i data-lucide="plus"></i> اضافة </a>
            </div>
        </div>

        <div class="intro-y  mt-8 sm:mt-0">
            <div class="p-5" id="responsive-table">
                <div class="preview">

                    <table class="table" style="direction:rtl;text-align:right">
                        <thead>
                            <tr>

                                <th class="whitespace-nowrap">
                                    الاسم
                                </th>
                                <th class="whitespace-nowrap">
                                    الادارة
                                </th>
                

                                <th class="whitespace-nowrap w-10">الخيارات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="">


                                    <td class="whitespace-nowrap">
                                        <a href="" class="font-medium whitespace-nowrap">@Html.DisplayFor(modelItem => item.emp_arnm) </a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5"> @Html.DisplayFor(modelItem => item.emp_code) </div>
                                    </td>

                                    <td class="whitespace-nowrap">
                                        <a href="" class="font-medium whitespace-nowrap">@Html.DisplayFor(modelItem => item.Branchs.Sections.Departments.DepartmentName) </a>
                                        <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5"> @Html.DisplayFor(modelItem => item.Branchs.BranchsName) </div>
                                    </td>
                                    <td class="whitespace-nowrap">

                                        <div class="d-flex justify-content-end flex-shrink-0">

                                            @{
                                                if (item.remarks == "888")
                                                {

                                                    <a href="@Url.Action("Add_User", "Account" , new { id=item.Id, permission ="Organizational_Manager"})" class="btn btn-primary btn-fw btn-sm"> تعيين كمستخدم</a>

                                                }
                                                else if (item.remarks == "False")
                                                {

                                                    <a class="btn btn-primary btn-fw btn-sm" style="margin-left: 5px;" href="@Url.Action("Details", "Account" , new { id=item.Id})"> الصلاحيات</a>
                                                    <a class="btn btn-danger btn-fw btn-sm" href="@Url.Action("Suspend", "Account", new { id = item.Id })"> ايقاف</a>

                                                }
                                                else if (item.remarks == "True")
                                                {
                                                    <a class="btn btn-primary btn-fw btn-sm" style="margin-left: 5px;" href="@Url.Action("Details", "Account" , new { id=item.Id})"> الصلاحيات</a>

                                                    <a class="btn btn-success btn-fw btn-sm" href="@Url.Action("UnSuspend", "Account", new { id = item.Id })"> اعتماد</a>

                                                }
                                            }

                                        </div>
                                    </td>

                                </tr>
                            }

                        </tbody>
                    </table>

                </div>

            </div>

        </div>

    </div>
</div>





<script>
    if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
    }
    else {
               var title = '@TempData["title"]';
               var type = '@TempData["type"]';
               var success = '@TempData["SuccessMsg"]';
            if (success != "" && success !=null) {
                swal(
                    {
                        title: title,
                        text: success,
                        type: type,
                        button: "موافق ",

                        confirmButtonClass: 'btn btn-success',
                        timer: 1500

                    }
                )

            }
    }
</script>













