@model Curly_TWM.Domain.Entities.RiskList

@{
    ViewBag.Title = "CreateRisk";
    Layout = "~/Views/Initiative_Officer/_LayoutInitiativeOfficer.cshtml";

    List<SelectListItem> Risk_Type = new List<SelectListItem>();
    Risk_Type.Add(new SelectListItem() { Text = "عالي" });
    Risk_Type.Add(new SelectListItem() { Text = "متوسط" });
    Risk_Type.Add(new SelectListItem() { Text = "منخفض" });

    List<SelectListItem> Risk_class = new List<SelectListItem>();
    Risk_class.Add(new SelectListItem() { Text = "عالي" });
    Risk_class.Add(new SelectListItem() { Text = "متوسط" });
    Risk_class.Add(new SelectListItem() { Text = "منخفض" });

}


<style>
    textarea {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #5e6278;
        transition: color .2s ease,background-color .2s ease;
    }
</style>

<div class="content" style="direction:rtl;text-align:right">


    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 lg:col-span-12">
            <!-- BEGIN: Input -->
            <div class="intro-y box">
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base">
                        @ViewBag.ActionName / @ViewBag.InitiativeName
                    </h2>
                    <div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">

                    </div>
                </div>
                <div id="input" class="p-5">
                    <div class="preview">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        <span style="display:none">
                            @Html.TextBoxFor(model => model.Initiativeid, new { @class = "cou", @Value = ViewBag.Initiativeid })
                        </span>


                            <div>
                                @Html.LabelFor(model => model.Risk, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.Risk, 4, 100, new { htmlAttributes = new { @class = "form-control form-control-solid" } })
                                @Html.ValidationMessageFor(model => model.Risk, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Risk_Type, htmlAttributes: new { @class = "form-label" })

                                @Html.DropDownList("Risk_Type", Risk_Type, " ... اختر النوع ...", htmlAttributes: new { @class = "form-select form-select-solid select2-hidden-accessible", @data_control = "select2", @tabindex = "-1", @aria_hidden = "true" })
                                @Html.ValidationMessageFor(model => model.Risk_Type, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Risk_class, htmlAttributes: new { @class = "form-label" })
                                @Html.DropDownList("Risk_class", Risk_class, " ... اختر الاحتمالية ...", htmlAttributes: new { @class = "form-select form-select-solid select2-hidden-accessible", @data_control = "select2", @tabindex = "-1", @aria_hidden = "true" })
                                @Html.ValidationMessageFor(model => model.Risk_class, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Risk_Plan, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.Risk_Plan, 4, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Risk_Plan, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.remarks, 3, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                            </div>


                            <div class="mt-5">
                                <input type="submit" value="حفظ" class="btn btn-primary" />
                                <a href="@Url.Action("Partners", "Initiative_Officer" ,new {iId=ViewBag.Initiativeid })" class="btn btn-warning text-white">عودة للقائمة</a>
                            </div>



                        }


                    </div>

                </div>
            </div>
            <!-- END: Input -->
            <!-- BEGIN: Input Sizing -->

        </div>

    </div>



</div>




