@model Curly_TWM.Domain.Entities.Team_Tasks

@{
    ViewBag.Title = "CreateTask";
    Layout = "~/Views/Initiative_Officer/_LayoutInitiativeOfficer.cshtml";
}


<style>
    textarea {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #5e6278;
        transition: color .2s ease,background-color .2s ease;
    }
    .apexyellow {
        background-color: #fee4b2
    }

    .apexgraeen {
        background-color: #00d8b6
    }

    .apexred {
        background-color: #ff1752
    }

    .apexblue {
        background-color: #0086ff
    }

</style>

<div class="content" style="direction:rtl;text-align:right">


    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 lg:col-span-12">
            <!-- BEGIN: Input -->
            <div class="intro-y box">
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base">
                        @ViewBag.ActionName
                    </h2>
                    <div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">

                    </div>
                    <div class="mt-5">
                        <h2 class="font-medium text-base">
                            قائمة المهام السابقة
                        </h2>
                        @foreach (var t in ViewBag.TmId)
                        {
                            <div class="intro-y">
                                <div class="box px-4 py-4 mb-3 flex items-center zoom-in">
                                    <div class="ml-4">
                                        <div class="font-medium">
                                            @Convert.ToDateTime(t.Initiative_Entry).ToString("dd-MM-yyyy")
                                        </div>
                                        <div class="text-slate-500 text-xs mt-0.5">
                                            @t.TaskName
                                        </div>
                                    </div>
                                    @if (t.TaskStat is null)
                                    {
                                        <div class="w-2 h-2 apexblue rounded-full"></div>
                                    }
                                    @if (t.TaskStat == "قيد التنفيذ")
                                    {
                                        <div class="w-2 h-2 apexyellow rounded-full"></div>
                                    }
                                    @if (t.TaskStat == "تم التنفيذ")
                                    {
                                        <div class="w-2 h-2 apexgraeen rounded-full"></div>
                                    }
                                    @if (t.TaskStat == "خارج الوقت")
                                    {
                                        <div class="w-2 h-2 apexred rounded-full"></div>
                                    }
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="input" class="p-5">
                    <div class="preview">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <span style="display:none">
                                @Html.TextBoxFor(model => model.Initiativeid, new { @Value = ViewBag.Initiativeid })
                                @Html.TextBoxFor(model => model.TaskStat, new { @Value = "" })
                                @Html.TextBoxFor(model => model.Initiative_Entry, new { @Value = "", @id = "theDate2" })
                                @Html.TextBoxFor(model => model.Task_Ractdt, new { @Value = "", @id = "theDate3" })
                                @Html.TextBoxFor(model => model.empid, new { @class = "cou", @Value = ViewBag.empid })

                            </span>



                            <div>
                                @Html.LabelFor(model => model.TaskName, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.TaskName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TaskName, "", new { @class = "text-danger" })
                            </div>
                            <div>
                                @Html.LabelFor(model => model.TaskDeatails, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.TaskDeatails, 3, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.TaskDeatails, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.Task_Edt, htmlAttributes: new { @class = "form-label" })
                                @Html.EditorFor(model => model.Task_Edt, new { htmlAttributes = new { @class = "form-control", type = "date", @id = "theDate" } })
                                @Html.ValidationMessageFor(model => model.Task_Edt, "", new { @class = "text-danger" })
                            </div>

             

                            <div>
                                @Html.LabelFor(model => model.remarks, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.remarks, 3, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.remarks, "", new { @class = "text-danger" })
                            </div>


                            <div class="mt-5">
                                <input type="submit" value="حفظ" class="btn btn-primary" />
                                <a href="@Url.Action("ExecutePlan", "Initiative_Officer" ,new { TmId=ViewBag.empid ,iId=ViewBag.Initiativeid })" class="btn btn-warning text-white">الرئيسية</a>
                            </div>



                        }


                    </div>

                </div>
            </div>
            <!-- END: Input -->
            <!-- BEGIN: Input Sizing -->

        </div>

    </div>



</div>







<script>
    var date = new Date();

    var day = date.getDate();
    var month = date.getMonth() + 1;
    var year = date.getFullYear();

    if (month < 10) month = "0" + month;
    if (day < 10) day = "0" + day;

    var today = year + "-" + month + "-" + day;

    document.getElementById('theDate').value = today;
    document.getElementById('theDate2').value = today;
    document.getElementById('theDate3').value = today;
</script>