@model Curly_TWM.Domain.Entities.InitiativesUploas
@{
    ViewBag.Title = "InitiativesUploas";
    Layout = "~/Views/Initiative_Officer/_LayoutInitiativeOfficer.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<!-- SweetAlert2 -->
<link href="~/Content/plugins/sweet-alert2/sweetalert2.css" rel="stylesheet" />
<script src="~/Content/plugins/sweet-alert2/sweetalert2.js"></script>





<style>
    textarea {
        display: block;
        width: 100%;
        padding: .375rem .75rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: .25rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        color: #5e6278;
        transition: color .2s ease,background-color .2s ease;
    }
</style>


<div class="content" style="direction:rtl;text-align:right">
    <div class="intro-y flex items-center mt-8">
        <h2 class="text-lg font-medium">
            اضافة الوثائق /  @ViewBag.InitiativeName
        </h2>
    </div>
    <div class="grid grid-cols-12 gap-6 mt-5">
        <div class="intro-y col-span-12 lg:col-span-6">
            <!-- BEGIN: Input -->
            <div class="intro-y box">
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base">
                        اضافة وثائق جديدة
                    </h2>
                    <div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">

                    </div>
                </div>
                <div id="input" class="p-5">
                    <div class="preview">
                        @using (Html.BeginForm("InitiativesUploas", "Initiative_Officer", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div>
                                <span style="display:none">
                                    @Html.TextBoxFor(model => model.Initiativeid, new { @Value = ViewBag.Initiativeid })
                                </span>

                                @Html.ValidationMessageFor(model => model.Initiativeid, "", new { @class = "text-danger" })
                            </div>


                            <div>
                                <img id="FrontImagePrv" src="~/Uploads/Documents/noimage.png" alt="Logo Image"
                                     width="100" height="100" style="border:1px;margin-top:20px;" />
                            </div>

                            <div>
                                <input type="file" name="doc_file" id="doc_file" required title="لم تقم باختيار أي وثيقة !" style=" margin-top: 50px;"
                                       onchange="document.getElementById('FrontImagePrv').src = window.URL.createObjectURL(this.files[0])" />
                                @Html.ValidationMessageFor(model => model.doc_file, "", new { @class = "text-danger" })
                            </div>

                            <div>
                                @Html.LabelFor(model => model.doc_discription, htmlAttributes: new { @class = "form-label" })
                                @Html.TextAreaFor(model => model.doc_discription, 3, 100, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.doc_discription, "", new { @class = "text-danger" })
                            </div>



                            <div class="mt-5">
                                <input type="submit" value="حفظ" class="btn btn-primary" />
                                <a href="@Url.Action("Initiatives", "Initiative_Officer")" class="btn btn-warning text-white">الرئيسية</a>
                            </div>



                        }

                    </div>

                </div>
            </div>
            <!-- END: Input -->

        </div>
        <div class="intro-y col-span-12 lg:col-span-6">
            <!-- BEGIN: Vertical Form -->
            <div class="intro-y box">
                <div class="flex flex-col sm:flex-row items-center p-5 border-b border-slate-200/60 dark:border-darkmode-400">
                    <h2 class="font-medium text-base">
                       الوثائق السابقة
                    </h2>
                    <div class="form-check form-switch w-full sm:w-auto sm:ml-auto mt-3 sm:mt-0">

                    </div>
                </div>
                <div id="vertical-form" class="p-5">
                    <div class="preview">
                        <table id="here" class="table table-striped table-bordered " cellspacing="0" width="100%">
                            <thead>
                                <tr>


                                    <th>
                                        @Html.DisplayNameFor(model => model.doc_url)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.doc_discription)
                                    </th>
                                    <th></th>
                                </tr>

                            </thead>
                            <tbody>

                                @foreach (var item in ViewBag.Uploads)
                                {
                                    <tr>


                                        <td>
                                            <img src="~/Uploads/Documents/@item.doc_url" id="img" style="height:80px; width:80px;  border-radius: 50%;" class="img-thumbnail" />
                                        </td>
                                        <td>
                                            @item.doc_discription
                                        </td>

                                        <td>
                                            @*<a href="@Url.Action("RepUploadEdit", "Reports", new { id = item.Id,ReportId= item.ReportId})" class="btn btn-secondary btn-sm rounded-0" data-toggle="tooltip" data-placement="top" title="Edit"><i class="fa fa-edit"></i></a>*@

                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>

                    </div>

                </div>
            </div>
            <!-- END: Vertical Form -->

        </div>
    </div>
</div>














<script>
      //Success Message
    if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
        //alert('hello world');
    }
    else {
               var title = '@TempData["title"]';
               var type = '@TempData["type"]';
               var success = '@TempData["SuccessMsg"]';
            if (success != "" && success !=null) {
                swal(
                    {
                        title: title,
                        text: success,
                        type: type,
                        button: "موافق ",

                        confirmButtonClass: 'btn btn-success',
                        timer: 1500

                    }
                )

            }
            //Success Message

    }



    //*********************************
    function Delete(id, Name) {

        swal({
            title: "Are you sure?",
            text: "Once deleted, you can't recover this record!",
            icon: "warning",
            buttons: ["Cancel", "Yes, delete it !!"],

            //buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: "/HR/Delete/" + id,
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {

                            swal("Poof! Your imaginary record has been deleted!", {
                                icon: "success",
                            });
                            $("#here").load(window.location.href + " #here");

                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });

                }
            });
    }
    //*********************************
</script>
