@model IEnumerable<Curly_TWM.Domain.Entities.Teams>

@{
    ViewBag.Title = "Teams";
    Layout = "~/Views/Initiative_Officer/_LayoutInitiativeOfficer.cshtml";
}


<script src="~/Scripts/jquery-3.4.1.js"></script>
<!-- SweetAlert2 -->
<link href="~/Content/plugins/sweet-alert2/sweetalert2.css" rel="stylesheet" />
<script src="~/Content/plugins/sweet-alert2/sweetalert2.js"></script>

<div class="content" style="direction:rtl;text-align:right">

    <div class="col-span-12 mt-6">
        <div class="intro-y block sm:flex items-center h-10">
            <h2 class="text-lg font-medium truncate mr-5">
                قائمة اعضاء الفريق / @ViewBag.InitiativeName (@Model.Count())
            </h2>
            <p></p>
            <div class="flex items-center sm:mr-auto mt-3 sm:mt-0">
                <a href="@Url.Action("CreateTeams","Initiative_Officer" ,new { iId=ViewBag.Initiativeid})" class="btn btn-sm btn-primary mr-1 mb-2"><i data-lucide="plus"></i> اضافة </a>
            </div>
        </div>
        <div class="intro-y  mt-8 sm:mt-0">
            <div class="p-5" id="responsive-table">
                <div class="preview">
                    <div class="overflow-x-auto">
                        <table class="table" style="direction:rtl;text-align:right">
                            <thead>
                                <tr>

                                    <th class="whitespace-nowrap">
                                        عضو الفريق - المبادرة
                                    </th>

                                    <th class="whitespace-nowrap w-10">الخيارات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr class="">


                                        <td class="whitespace-nowrap">

                                            <a href="" class="font-medium whitespace-nowrap">  @Html.DisplayFor(modelItem => item.emp_main.emp_arnm) </a>
                                            <div class="text-slate-500 text-xs whitespace-nowrap mt-0.5">  @Html.DisplayFor(modelItem => item.emp_main.emp_code)</div>
                                        </td>


                                        <td class="w-40">


                                            <div class="dropdown mr-1 mb-2" style="position: relative; display: contents;">
                                                <button class="dropdown-toggle btn btn-primary tooltip" title="خيارات المبادرة" data-theme="light" aria-expanded="false" data-tw-toggle="dropdown">
                                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" icon-name="align-justify" data-lucide="align-justify" class="lucide lucide-align-justify w-5 h-5"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 01-2 2H7a2 2 0 01-2-2V6m3 0V4a2 2 0 012-2h4a2 2 0 012 2v2"></path></svg>
                                                </button>
                                                <div class="dropdown-menu w-40" id="_7icp3nw31" data-popper-placement="bottom-end" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(0px, 38px, 0px);">
                                                    <ul class="dropdown-content">
                                                        <li>
                                                            <a href="#" class="dropdown-item">التفاصيل</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="dropdown-item">تعديل</a>
                                                        </li>
                                                        <li>
                                                            <a href="#" class="dropdown-item">حذف</a>
                                                        </li>

                                                    </ul>
                                                </div>
                                            </div>


                                        </td>
                                    </tr>
                                }

                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>













<script>
      //Success Message
    if (window.performance && window.performance.navigation.type == window.performance.navigation.TYPE_BACK_FORWARD) {
        //alert('hello world');
    }
    else {
               var title = '@TempData["title"]';
               var type = '@TempData["type"]';
               var success = '@TempData["SuccessMsg"]';
            if (success != "" && success !=null) {
                swal(
                    {
                        title: title,
                        text: success,
                        type: type,
                        button: "موافق ",

                        confirmButtonClass: 'btn btn-success',
                        timer: 1500

                    }
                )

            }
            //Success Message

    }



    //*********************************
    function Delete(id, Name) {

        swal({
            title: "Are you sure?",
            text: "Once deleted, you can't recover this record!",
            icon: "warning",
            buttons: ["Cancel", "Yes, delete it !!"],

            //buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {

                    $.ajax({
                        url: "/HR/Delete/" + id,
                        type: "POST",
                        contentType: "application/json;charset=UTF-8",
                        dataType: "json",
                        success: function (result) {

                            swal("Poof! Your imaginary record has been deleted!", {
                                icon: "success",
                            });
                            $("#here").load(window.location.href + " #here");

                        },
                        error: function (errormessage) {
                            alert(errormessage.responseText);
                        }
                    });

                }
            });
    }
    //*********************************
</script>



